<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Chat:
<#if messages??>
    <#list messages as message>

        <h3>${message.authorProfile.name}</h3>
        <h3>${message.authorProfile.surname}</h3>
            <h3>${message.text}</h3>

            <!--
                "https://scontent.fiev9-1.fna.fbcdn.net/v/t1.6435-9/100063325_3065270396867687_1369217968893853696_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=HtIe2ueOHTgAX9WBur-&_nc_ht=scontent.fiev9-1.fna&oh=00_AfDSqfrydSyDOpcbnMqwwnoc2YZ8vbZcn43BMqU2OxcFJg&oe=64096BD8"
                --> </#list>
</#if>
<#if messageForm??>
<#list messageForm  as form>

        <form action="/messages"  method="post" >
            <input style="display: none"  type="text"  name ="to" value="${form.userId}">
            <textarea id="new_message" name="new_message" rows="4" cols="50">>

</textarea>
            <button type="submit " value="submit"></button>  >

        </form>
</#list>
</#if>

</body>
</html>