<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<#--    <link rel="stylesheet" href="/assets/css/style.css">-->
</head>

<body style=" display:flex; flex-direction:column;align-items:center;">
<h2 style="color: grey;">Please, fill all fields to sign up</h2>
        <form style=" width: 350px;" action="/registration" method="post"> <#---->
          <input type="text" name="name" placeholder="enter name" class="form-control"/> <br/>
         <input type="surname" name="surname" placeholder="enter surname" class="form-control" /> <br/>
             <input type="text" name="login" placeholder="enter your login" class="form-control" /> <br/>
           <input type="text" name="password" placeholder="enter your password" class="form-control"/> <br/>

            <input type="submit" value="Ok"/>
        </form>
    </body>
</html>